---
---
<nav>
    <a href="/">Accueil</a>
    <a href="/contact">Contact</a>
</nav>

<style>
    nav {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    nav a {
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background: rgba(var(--accent-light), 12%);
        transition: background-color 0.3s ease;
    }
    nav a:hover {
        background-color: rgba(var(--accent-light), 30%);
    }
</style>